In [1]:
import pyspark
from pyspark.sql import SparkSession, types
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
from pyspark.sql.functions import split, col, create_map, lit

from itertools import chain

In [2]:
credentials_location = '/Users/alvin/.google/credentials/google_credentials.json'

conf = SparkConf() \
    .setMaster('local[*]') \
    .setAppName('de-project-spark-batch') \
    .set("spark.jars", "/opt/homebrew/Cellar/apache-spark/3.2.1/jars/gcs-connector-hadoop3-latest.jar") \
    .set("spark.hadoop.google.cloud.auth.service.account.enable", "true") \
    .set("spark.hadoop.google.cloud.auth.service.account.json.keyfile", credentials_location)

In [3]:
sc = SparkContext(conf=conf)

hadoop_conf = sc._jsc.hadoopConfiguration()

hadoop_conf.set("fs.AbstractFileSystem.gs.impl",  "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")
hadoop_conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
hadoop_conf.set("fs.gs.auth.service.account.json.keyfile", credentials_location)
hadoop_conf.set("fs.gs.auth.service.account.enable", "true")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/homebrew/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/05/01 19:28:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
spark = SparkSession.builder \
    .config(conf=sc.getConf()) \
    .getOrCreate()

In [5]:
df_emp = spark.read \
    .option("header", "true") \
    .parquet('gs://de-project-data-lake_intense-glow-347320/raw/*')

In [6]:
df_emp.show()

+---------------+----------+-----------+--------------------+----+-----------+--------+----------+-----------------+-----+-----------------+
|      LAUS_code|state_fips|county_fips|        county_state|year|labor_force|employed|unemployed|unemployment_rate| fips|__index_level_0__|
+---------------+----------+-----------+--------------------+----+-----------+--------+----------+-----------------+-----+-----------------+
|CN0100100000000|        01|        001|  Autauga County, AL|2009|      24660|   22464|      2196|              8.9|01001|                5|
|CN0100300000000|        01|        003|  Baldwin County, AL|2009|      82314|   74950|      7364|              8.9|01003|                6|
|CN0100500000000|        01|        005|  Barbour County, AL|2009|       9944|    8635|      1309|             13.2|01005|                7|
|CN0100700000000|        01|        007|     Bibb County, AL|2009|       8696|    7637|      1059|             12.2|01007|                8|
|CN0100900000000|        01|        009|   Blount County, AL|2009|      26426|   24005|      2421|              9.2|01009|                9|
|CN0101100000000|        01|        011|  Bullock County, AL|2009|       3713|    3179|       534|             14.4|01011|               10|
|CN0101300000000|        01|        013|   Butler County, AL|2009|       9033|    7671|      1362|             15.1|01013|               11|
|CN0101500000000|        01|        015|  Calhoun County, AL|2009|      53760|   48278|      5482|             10.2|01015|               12|
|CN0101700000000|        01|        017| Chambers County, AL|2009|      14487|   11863|      2624|             18.1|01017|               13|
|CN0101900000000|        01|        019| Cherokee County, AL|2009|      11715|   10460|      1255|             10.7|01019|               14|
|CN0102100000000|        01|        021|  Chilton County, AL|2009|      19393|   17501|      1892|              9.8|01021|               15|
|CN0102300000000|        01|        023|  Choctaw County, AL|2009|       5106|    4474|       632|             12.4|01023|               16|
|CN0102500000000|        01|        025|   Clarke County, AL|2009|      10298|    8728|      1570|             15.2|01025|               17|
|CN0102700000000|        01|        027|     Clay County, AL|2009|       5596|    4737|       859|             15.4|01027|               18|
|CN0102900000000|        01|        029| Cleburne County, AL|2009|       6499|    5893|       606|              9.3|01029|               19|
|CN0103100000000|        01|        031|   Coffee County, AL|2009|      21423|   19755|      1668|              7.8|01031|               20|
|CN0103300000000|        01|        033|  Colbert County, AL|2009|      25324|   22625|      2699|             10.7|01033|               21|
|CN0103500000000|        01|        035|  Conecuh County, AL|2009|       4853|    3959|       894|             18.4|01035|               22|
|CN0103700000000|        01|        037|    Coosa County, AL|2009|       4557|    3884|       673|             14.8|01037|               23|
|CN0103900000000|        01|        039|Covington County, AL|2009|      16672|   15021|      1651|              9.9|01039|               24|
+---------------+----------+-----------+--------------------+----+-----------+--------+----------+-----------------+-----+-----------------+
only showing top 20 rows

In [7]:
df_emp = df_emp.withColumn('state', split(df_emp['county_state'], ', ').getItem(1)) \
    .withColumn('county', split(df_emp['county_state'], ', ').getItem(0))

In [8]:
states = {
    'AK': 'Alaska',
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'AZ': 'Arizona',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'District of Columbia',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'IA': 'Iowa',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'ME': 'Maine',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MS': 'Mississippi',
    'MT': 'Montana',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'NY': 'New York',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VA': 'Virginia',
    'VT': 'Vermont',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'WY': 'Wyoming'
}

In [9]:
mapping_expr = create_map([lit(x) for x in chain(*states.items())])
df_emp = df_emp.withColumn('state_full', mapping_expr[df_emp.state])

In [10]:
df_emp = df_emp.select("year", "LAUS_code", "fips", "state_fips", "county_fips", "state", "state_full", "county", "labor_force", "employed", "unemployed", "unemployment_rate")

In [17]:
df_emp.printSchema()

root
 |-- year: long (nullable = true)
 |-- LAUS_code: string (nullable = true)
 |-- fips: string (nullable = true)
 |-- state_fips: string (nullable = true)
 |-- county_fips: string (nullable = true)
 |-- state: string (nullable = true)
 |-- state_full: string (nullable = true)
 |-- county: string (nullable = true)
 |-- labor_force: long (nullable = true)
 |-- employed: long (nullable = true)
 |-- unemployed: long (nullable = true)
 |-- unemployment_rate: double (nullable = true)

In [25]:
df_emp.withColumn("year", df_emp["year"].cast(types.IntegerType))

TypeError: unexpected type: <class 'pyspark.sql.types.DataTypeSingleton'>

In [13]:
df_emp.show()

+----------------+---------------+-----+----------+-----------+-----+----------+----------------+-----------+--------+----------+-----------------+
|            year|      LAUS_code| fips|state_fips|county_fips|state|state_full|          county|labor_force|employed|unemployed|unemployment_rate|
+----------------+---------------+-----+----------+-----------+-----+----------+----------------+-----------+--------+----------+-----------------+
|1230768000000000|CN0100100000000|01001|        01|        001|   AL|   Alabama|  Autauga County|      24660|   22464|      2196|              8.9|
|1230768000000000|CN0100300000000|01003|        01|        003|   AL|   Alabama|  Baldwin County|      82314|   74950|      7364|              8.9|
|1230768000000000|CN0100500000000|01005|        01|        005|   AL|   Alabama|  Barbour County|       9944|    8635|      1309|             13.2|
|1230768000000000|CN0100700000000|01007|        01|        007|   AL|   Alabama|     Bibb County|       8696|    7637|      1059|             12.2|
|1230768000000000|CN0100900000000|01009|        01|        009|   AL|   Alabama|   Blount County|      26426|   24005|      2421|              9.2|
|1230768000000000|CN0101100000000|01011|        01|        011|   AL|   Alabama|  Bullock County|       3713|    3179|       534|             14.4|
|1230768000000000|CN0101300000000|01013|        01|        013|   AL|   Alabama|   Butler County|       9033|    7671|      1362|             15.1|
|1230768000000000|CN0101500000000|01015|        01|        015|   AL|   Alabama|  Calhoun County|      53760|   48278|      5482|             10.2|
|1230768000000000|CN0101700000000|01017|        01|        017|   AL|   Alabama| Chambers County|      14487|   11863|      2624|             18.1|
|1230768000000000|CN0101900000000|01019|        01|        019|   AL|   Alabama| Cherokee County|      11715|   10460|      1255|             10.7|
|1230768000000000|CN0102100000000|01021|        01|        021|   AL|   Alabama|  Chilton County|      19393|   17501|      1892|              9.8|
|1230768000000000|CN0102300000000|01023|        01|        023|   AL|   Alabama|  Choctaw County|       5106|    4474|       632|             12.4|
|1230768000000000|CN0102500000000|01025|        01|        025|   AL|   Alabama|   Clarke County|      10298|    8728|      1570|             15.2|
|1230768000000000|CN0102700000000|01027|        01|        027|   AL|   Alabama|     Clay County|       5596|    4737|       859|             15.4|
|1230768000000000|CN0102900000000|01029|        01|        029|   AL|   Alabama| Cleburne County|       6499|    5893|       606|              9.3|
|1230768000000000|CN0103100000000|01031|        01|        031|   AL|   Alabama|   Coffee County|      21423|   19755|      1668|              7.8|
|1230768000000000|CN0103300000000|01033|        01|        033|   AL|   Alabama|  Colbert County|      25324|   22625|      2699|             10.7|
|1230768000000000|CN0103500000000|01035|        01|        035|   AL|   Alabama|  Conecuh County|       4853|    3959|       894|             18.4|
|1230768000000000|CN0103700000000|01037|        01|        037|   AL|   Alabama|    Coosa County|       4557|    3884|       673|             14.8|
|1230768000000000|CN0103900000000|01039|        01|        039|   AL|   Alabama|Covington County|      16672|   15021|      1651|              9.9|
+----------------+---------------+-----+----------+-----------+-----+----------+----------------+-----------+--------+----------+-----------------+
only showing top 20 rows

In [26]:
df_emp.write.csv('/Users/alvin/Documents/data/csv/', mode='overwrite', header=True)